<td><span class="badge badge-inverse"><%=st%></span></td>
<td><a class="btn btn-primary btn-mini"><strong><%=b5p%></strong><br /><%=b5v%></a></td>
<td><a class="btn btn-primary btn-mini"><strong><%=b4p%></strong><br /><%=b4v%></a></td>
<td><a class="btn btn-primary btn-mini"><strong><%=b3p%></strong><br /><%=b3v%></a></td>
<td><a class="btn btn-primary btn-mini"><strong><%=b2p%></strong><br /><%=b2v%></a></td>
<td><a class="btn btn-primary btn-mini"><strong><%=b1p%></strong><br /><%=b1v%></a></td>
<td><a class="btn btn-success btn-mini"><strong><%=tp%></strong><br /><%=tv%></a></td>
<td><a class="btn btn-danger btn-mini"><strong><%=a1p%></strong><br /><%=a1v%></a></td>
<td><a class="btn btn-danger btn-mini"><strong><%=a2p%></strong><br /><%=a2v%></a></td>
<td><a class="btn btn-danger btn-mini"><strong><%=a3p%></strong><br /><%=a3v%></a></td>
<td><a class="btn btn-danger btn-mini"><strong><%=a4p%></strong><br /><%=a4v%></a></td>
<td><a class="btn btn-danger btn-mini"><strong><%=a5p%></strong><br /><%=a5v%></a></td>